.intro__subtitle {
    margin-bottom: 20 px;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}