.intro__title {
    font-size: 74px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

